body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.top-bar {
    font-size: 1.2rem;
    width: 100%;
    background-color: #414141;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: 7px solid #fd8a24;
}

.top-bar p {
    margin: auto;
    font-size: 1.5em;
    color: white;
}

.container {
    width: 60%;
    margin: auto;
}

main {
    width: 80%;
    margin: auto;
}

p {
    color: #555;
}

h1,
h2 {
    color: #111;
}

.icons {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.2em 0 0.2em;
    margin-left: -0.6em;
}

.icons li {
    margin: 0 15px;
}