body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.top-bar {
    font-size: 1.2rem;
    width: 100%;
    background-color: #414141;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: 7px solid #fd8a24;
}

.top-bar p {
    margin: auto;
    font-size: 1.5em;
    color: white;
}

.container {
    width: 60%;
    margin: auto;
}

main {
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 3.5rem;
}

header h2 {
    font-size: 1.65rem;
    font-weight: normal;
    color: #555;
}

h1,
h2 {
    color: #111;
}

p {
    font: inherit;
    color: #555;
}

p span {
    font-size: 0.7em;
    color: #adacac;
}

.icons {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.2em 0 0.2em;
    margin-left: -0.6em;
}

.icons li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #fc7700;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #d66500;
}

figure img {
    width: 110%;
    padding: 0;
    margin-left: -2.5rem;
}

figcaption {
    margin-left: -2.5rem;
    font-size: 0.8rem;
    color: #555;
}

footer {
    width: 100%;
    height: 3em;
    background-color: #414141;
    margin-top: 4em;
}